<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- required imports -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/kickstart.js"></script> <!-- KICKSTART -->
    <link rel="stylesheet" href="css/kickstart/kickstart.css" media="all" /> <!-- KICKSTART -->
    <link rel="stylesheet" href="css/style.css" media="all" />  <!-- OUR CUSTOM STYLES -->
</head>
<body class="subpage">


    <!-- build page column blocks -->
    <div class="content clearfix">

        <div class="col_9 brew_process_group">
            <div class="col_12 mash_lauter_kettle_block">
                <!-- Mash block -->
                <div class="col_4 groupbox mash_block">
                    <div class="groupbox_header">
                        Mash
                        <button class="small blue edit" onclick="btw.show_mash_dialog(' ');">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                    </div>
                    <table class="table_values {% if mash_info is none %} no_values {% endif %}striped">
                        <tr>
                            <td class="groupbox_label noborder">Start time:</td>
                            <td class="groupbox_value noborder">{{ mash_info.start_time | format_datetime() }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Foundation BBL:</td>
                            <td class="groupbox_value noborder">{{ mash_info.foundation }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Mash Water BBL:</td>
                            <td class="groupbox_value noborder">{{ mash_info.mash_water }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Mash pH:</td>
                            <td class="groupbox_value noborder">{{ mash_info.ph }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Sacc. Test. Neg.:</td>
                            <td class="groupbox_value noborder">{{ mash_info.saccaride_test_time | format_datetime() }}</td>
                        </tr>
                    </table>
                </div>

                <!-- Lauter block -->
                <div class="col_4 groupbox lauter_block">
                    <div class="groupbox_header">
                        Lauter
                        <button class="small blue edit" onclick="btw.show_lauter_dialog(' ');">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                    </div>

                    <table class="table_values {% if lauter_info is none %} no_values {% endif %}striped">
                        <tr>
                            <td class="groupbox_label noborder">Circulation Start:</td>
                            <td class="groupbox_value noborder">{{ lauter_info.circulation_start | format_datetime() }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Circulation End:</td>
                            <td class="groupbox_value noborder">{{ lauter_info.circulation_end | format_datetime() }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">First Wort (&deg;P):</td>
                            <td class="groupbox_value noborder">{{ lauter_info.first_wort }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Sparge Start:</td>
                            <td class="groupbox_value noborder">{{ lauter_info.sparge_start | format_datetime() }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Sparge End:</td>
                            <td class="groupbox_value noborder">{{ lauter_info.sparge_end | format_datetime() }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Last Run (&deg;P):</td>
                            <td class="groupbox_value noborder">{{ lauter_info.last_run }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">End Time:</td>
                            <td class="groupbox_value noborder">{{ lauter_info.end_time | format_datetime() }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Total Time:</td>
                            <td class="groupbox_value noborder">{{ lauter_info.total_time }}</td>
                        </tr>
                    </table>

                </div>

                <!-- Kettle block -->
                <div class="col_4 groupbox kettle_block">
                    <div class="groupbox_header">
                        Kettle
                        <button class="small blue edit" onclick="btw.show_kettle_dialog(' ');">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                    </div>

                    <table class="table_values {% if kettle_info is none %} no_values {% endif %}striped">
                        <tr>
                            <td class="groupbox_label noborder">Start Boil:</td>
                            <td class="groupbox_value noborder">{{ kettle_info.start_boil | format_datetime() }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">End Boil:</td>
                            <td class="groupbox_value noborder">{{ kettle_info.end_boil | format_datetime() }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Full BBL:</td>
                            <td class="groupbox_value noborder">{{ kettle_info.full_bbl }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Kettle Full (&deg;P):</td>
                            <td class="groupbox_value noborder">{{ kettle_info.kettle_full }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Final BBL:</td>
                            <td class="groupbox_value noborder">{{ kettle_info.final_bbl }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Calc. Top Up:</td>
                            <td class="groupbox_value noborder">{{ kettle_info.calc_top_up }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Tot. % Evap.:</td>
                            <td class="groupbox_value noborder">{{ kettle_info.total_evaporation }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Per Hour:</td>
                            <td class="groupbox_value noborder">{{ kettle_info.per_hour }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Water Added:</td>
                            <td class="groupbox_value noborder">{{ kettle_info.water_added }}</td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="col_12 whirpool_wort_cellar_block">
                <!-- Whirpool block -->
                <div class="col_4 groupbox whirpool_block">
                    <div class="groupbox_header">
                        Whirpool Cooling
                        <button class="small blue edit" onclick="callPython();">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                    </div>

                    <table class="table_values {% if whirpool_info is none %} no_values {% endif %}striped">
                        <tr>
                            <td class="groupbox_label noborder">Start WP Time:</td>
                            <td class="groupbox_value noborder">1/1/15 9:45 PM</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Start WP Rest:</td>
                            <td class="groupbox_value noborder">1/1/15 9:45 PM</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">Start Cooling:</td>
                            <td class="groupbox_value noborder">1/1/15 9:45 PM</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label noborder">End Cooling:</td>
                            <td class="groupbox_value noborder">1/1/15 9:45 PM</td>
                        </tr>
                    </table>
                </div>

                <!-- Wort block -->
                <div class="col_4 groupbox wort_block">
                    <div class="groupbox_header">
                        Wort
                        <button class="small blue edit" onclick="btw.show_wort_dialog('');">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                    </div>

                    <table class="table_values {% if wort_info is none %} no_values {% endif %}striped">
                        <tr>
                            <td class="groupbox_label">Wort Volume BBL:</td>
                            <td class="groupbox_value">{{ wort_info.wort_volume_bbl }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label">OG (&deg;P):</td>
                            <td class="groupbox_value">{{ wort_info.og }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label">Color SRM:</td>
                            <td class="groupbox_value">{{ wort_info.color_srm }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label">pH:</td>
                            <td class="groupbox_value">{{ wort_info.ph }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label">BU:</td>
                            <td class="groupbox_value">{{ wort_info.bu }}</td>
                        </tr>
                    </table>
                </div>

                <!-- Cellar block -->
                <div class="col_4 groupbox cellar_block">
                    <div class="groupbox_header">
                        Cellar
                        <button class="small blue edit" onclick="btw.show_cellar_dialog('');">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                    </div>

                    <table class="table_values {% if cellar_info is none %} no_values {% endif %}striped">
                        <tr>
                            <td class="groupbox_label">Glycol:</td>
                            <td class="groupbox_value">
                                {% if cellar_info.glycol %}
                                    <b style="color: green;">Present</b>
                                {% else %}
                                    <b style="color: darkred;">Not Present</b>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="groupbox_label">Blow Off Attach.:</td>
                            <td class="groupbox_value">{{ cellar_info.blow_off_attach | format_datetime() }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label">Yeast Type:</td>
                            <td class="groupbox_value">{{ cellar_info.yeast_type }}</td>
                        </tr>
                        <tr>
                            <td class="groupbox_label">Generation:</td>
                            <td class="groupbox_value">{{ cellar_info.generation }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- BBL block -->
        <div class="col_3 groupbox bbl_block">
            <div class="groupbox_header">BBL/HTL</div>

            <table class="table_values striped">
                <thead>
                <tr>
                    <th class="groupbox_subheader bbl_subheader" colspan="2">
                        Mash BBL
                        <button class="small blue edit_bbl" onclick="btw.show_mash_bbl_edit_dialog('');">
                                <i class="fa fa-pencil"></i> Edit
                        </button>
                    </th>
                    <th class="white_cube"></th>
                    <th class="groupbox_subheader bbl_subheader" colspan="2">
                        Kettle BBL
                        <button class="small blue edit_bbl" onclick="btw.show_kettle_bbl_edit_dialog('');">
                                <i class="fa fa-pencil"></i> Edit
                        </button>
                    </th>
                </tr>
                </thead>
                <tr>
                    <td class="groupbox_label noborder">Start:</td>
                    <td class="groupbox_value noborder">{{ mash_start_bbl }}</td>
                    <td class="white_cube"></td>
                    <td class="groupbox_label noborder">Start:</td>
                    <td class="groupbox_value noborder">{{ kettle_start_bbl }}</td>
                </tr>
                <tr>
                    <td class="groupbox_label noborder">Change:</td>
                    <td class="groupbox_value noborder">{{ mash_change_bbl }}</td>
                    <td class="white_cube"></td>
                    <td class="groupbox_label noborder">Change:</td>
                    <td class="groupbox_value noborder">{{ kettle_change_bbl }}</td>
                </tr>
                <tr>
                    <td class="groupbox_label noborder">End:</td>
                    <td class="groupbox_value noborder">{{ mash_end_bbl }}</td>
                    <td class="white_cube"></td>
                    <td class="groupbox_label noborder">End:</td>
                    <td class="groupbox_value noborder">{{ kettle_end_bbl }}</td>
                </tr>

                <!-- simple way to have an empty space between two sub-tables -->
                <tr style="background-color: white;"><td > <br> </td></tr>

                <thead>
                    <tr>
                        <th class="groupbox_subheader bbl_subheader" colspan="2">
                            Lauter BBL
                            <button class="small blue edit_bbl" onclick="btw.show_lauter_bbl_edit_dialog('');">
                                    <i class="fa fa-pencil"></i> Edit
                            </button>
                        </th>
                        <th class="white_cube"></th>
                        <th class="groupbox_subheader bbl_subheader" colspan="2">
                            HTL BBL
                            <button class="small blue edit_bbl" onclick="btw.show_htl_bbl_edit_dialog('');">
                                    <i class="fa fa-pencil"></i> Edit
                            </button>
                        </th>
                    </tr>
                </thead>

                <tr>
                    <td class="groupbox_label noborder">Start:</td>
                    <td class="groupbox_value noborder">{{lauter_start_bbl }}</td>
                    <td class="white_cube"></td>
                    <td class="groupbox_label noborder">Start:</td>
                    <td class="groupbox_value noborder">{{ start_bbl }}</td>
                </tr>
                <tr>
                    <td class="groupbox_label noborder">Change:</td>
                    <td class="groupbox_value noborder">{{ lauter_change_bbl }}</td>
                    <td class="white_cube"></td>
                    <td class="groupbox_label noborder">Change:</td>
                    <td class="groupbox_value noborder">{{ change_bbl }}</td>
                </tr>
                <tr>
                    <td class="groupbox_label noborder">End:</td>
                    <td class="groupbox_value noborder">{{ lauter_end_bbl }}</td>
                    <td class="white_cube"></td>
                    <td class="groupbox_label noborder">End:</td>
                    <td class="groupbox_value noborder">{{ end_bbl }}</td>
                </tr>
            </table>
        </div>

    </div>
    <!--<div class="clearfix"></div>-->

</body>
</html>
