<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- required imports -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/kickstart.js"></script> <!-- KICKSTART -->
    <link rel="stylesheet" href="css/kickstart/kickstart.css" media="all" /> <!-- KICKSTART -->
    <link rel="stylesheet" href="css/style.css" media="all" />  <!-- OUR CUSTOM STYLES -->

    <script>
        $(document).ready(function() {
            $("#malt_table").animate({ scrollTop: $('#malt_table')[0].scrollHeight}, 1000);
            $("#water_table").animate({ scrollTop: $('#water_table')[0].scrollHeight}, 1000);
        });
    </script>
</head>
<body class="subpage">


    <!-- build page column blocks -->
    <div class="content clearfix">


        <!-- Information, Mall, Water treatment blocks -->
        <div class="col_8 info_malt_water clearfix">


            <!-- Information block -->
            <div class="col_12 groupbox" style="margin-top: 0;">
                <div class="groupbox_header">
                    Information
                    <button class="small blue edit" onclick="btw.show_brew_dialog(' ');">
                        <i class="fa fa-pencil"></i> Edit
                    </button>
                </div>
                <table class="table_values striped">
                    <tr>
                        <td class="groupbox_label noborder">Brew #:</td>
                        <td class="groupbox_value noborder">{{ brew.brew_code }}</td>
                        <td class="groupbox_label noborder">Batch #:</td>
                        <td class="groupbox_value noborder">{{ brew.batch_number }}</td>
                    </tr>
                    <tr>
                        <td class="groupbox_label noborder">FV #:</td>
                        <td class="groupbox_value noborder">{{ brew.fv_number }}</td>
                        <td class="groupbox_label noborder">Start Date:</td>
                        <td class="groupbox_value noborder">{{ brew.date_created | format_datetime() }}</td>
                    </tr>
                    <tr>
                        <td class="groupbox_label noborder">Recipe:</td>
                        <td class="groupbox_value noborder">{{ brew.recipe_id }}</td>
                        <td class="groupbox_label noborder">Brewer:</td>
                        <td class="groupbox_value noborder">{{ brew.brewer_name }}</td>
                    </tr>
                </table>

            </div>

            <div class="col_12 water_malt_blocks clearfix">


                <!-- Malt block -->
                <div class="col_6 groupbox malt_block">
                    <div class="groupbox_header">
                        Malt Bill
                        <button class="small blue edit" onclick="callPython();">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                    </div>

                    <div class="table_outer" id="malt_table">
                        <table class="striped sortable">
                            <thead>
                                <tr>
                                    <th>Grain</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="groubox_value">{{ grain_one }}</td>
                                <td class="groubox_value">{{ grain_one_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_two }}</td>
                                <td class="groubox_value">{{ grain_two_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_three }}</td>
                                <td class="groubox_value">{{ grain_three_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_one }}</td>
                                <td class="groubox_value">{{ grain_one_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_two }}</td>
                                <td class="groubox_value">{{ grain_two_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_three }}</td>
                                <td class="groubox_value">{{ grain_three_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_one }}</td>
                                <td class="groubox_value">{{ grain_one_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_two }}</td>
                                <td class="groubox_value">{{ grain_two_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_three }}</td>
                                <td class="groubox_value">{{ grain_three_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_one }}</td>
                                <td class="groubox_value">{{ grain_one_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_two }}</td>
                                <td class="groubox_value">{{ grain_two_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ grain_three }}</td>
                                <td class="groubox_value">{{ grain_three_amount }}</td>
                            </tr>
                        </table>
                    </div>
                </div>


                <!-- Water treatment block -->
                <div class="col_6 groupbox water_block">
                    <div class="groupbox_header">
                        Water Treatment
                        <button class="small blue edit" onclick="callPython();">
                            <i class="fa fa-pencil"></i> Edit
                        </button>
                    </div>
                    <div class="table_outer" id="water_table">
                        <table class="striped sortable">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="groubox_value">{{ malt_one }}</td>
                                <td class="groubox_value">{{ malt_one_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_two }}</td>
                                <td class="groubox_value">{{ malt_two_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_three }}</td>
                                <td class="groubox_value">{{ malt_three_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_one }}</td>
                                <td class="groubox_value">{{ malt_one_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_two }}</td>
                                <td class="groubox_value">{{ malt_two_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_three }}</td>
                                <td class="groubox_value">{{ malt_three_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_one }}</td>
                                <td class="groubox_value">{{ malt_one_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_two }}</td>
                                <td class="groubox_value">{{ malt_two_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_three }}</td>
                                <td class="groubox_value">{{ malt_three_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_one }}</td>
                                <td class="groubox_value">{{ malt_one_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_two }}</td>
                                <td class="groubox_value">{{ malt_two_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_three }}</td>
                                <td class="groubox_value">{{ malt_three_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_one }}</td>
                                <td class="groubox_value">{{ malt_one_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_two }}</td>
                                <td class="groubox_value">{{ malt_two_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_three }}</td>
                                <td class="groubox_value">{{ malt_three_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_one }}</td>
                                <td class="groubox_value">{{ malt_one_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_two }}</td>
                                <td class="groubox_value">{{ malt_two_amount }}</td>
                            </tr>
                            <tr>
                                <td class="groubox_value">{{ malt_three }}</td>
                                <td class="groubox_value">{{ malt_three_amount }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <!-- Hops block -->
        <div class="col_4 groupbox">
            <div class="groupbox_header">
                Hops
                <button class="small blue edit" onclick="callPython();">
                    <i class="fa fa-pencil"></i> Edit
                </button>
            </div>

            <div class="table_outer hops_list">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>AA (%)</th>
                        <th>Total Amount</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="selectable">
                        <td>Hops #134</td>
                        <td>83.2%</td>
                        <td>156 lbs</td>
                        <td>1/1/00 12:00 AM</td>
                    </tr>

                    <tr class="selectable">
                        <td>Hops #132</td>
                        <td>64.4%</td>
                        <td>156 lbs</td>
                        <td>1/1/00 12:00 AM</td>
                    </tr>

                    <tr class="selectable">
                        <td>Hops, Bravarian</td>
                        <td>33.5%</td>
                        <td>156 lbs</td>
                        <td>1/1/00 12:00 AM</td>
                    </tr>

                    <tr class="selectable">
                        <td>Hops, Golden</td>
                        <td>23.6%</td>
                        <td>156 lbs</td>
                        <td>1/1/00 12:00 AM</td>
                    </tr>

                    <tr class="selectable">
                        <td>Hops, Bravarian</td>
                        <td>33.5%</td>
                        <td>156 lbs</td>
                        <td>1/1/00 12:00 AM</td>
                    </tr>

                    <tr class="selectable">
                        <td>Hops, Golden</td>
                        <td>23.6%</td>
                        <td>156 lbs</td>
                        <td>1/1/00 12:00 AM</td>
                    </tr>

                    <tr class="selectable">
                        <td>Hops, Bravarian</td>
                        <td>33.5%</td>
                        <td>156 lbs</td>
                        <td>1/1/00 12:00 AM</td>
                    </tr>

                    <tr class="selectable">
                        <td>Hops, Golden</td>
                        <td>23.6%</td>
                        <td>156 lbs</td>
                        <td>1/1/00 12:00 AM</td>
                    </tr>
                </tbody>
            </table>

        </div>

        </div>

    </div>

</body>
</html>
