<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- required imports -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/kickstart.js"></script> <!-- KICKSTART -->
    <link rel="stylesheet" href="css/kickstart/kickstart.css" media="all" /> <!-- KICKSTART -->
    <link rel="stylesheet" href="css/style.css" media="all" />  <!-- OUR CUSTOM STYLES -->
</head>
<body class="subpage">
    <div class="content">
    <div class="col_5 groupbox">
        <div class="groupbox_header">
            Notes list
            <button class="small blue edit" onclick="btw.show_note_dialog('NEW');">
                &#43; Add Note
            </button>
        </div>
        <div class="table_outer notes_list">
            <table class="striped" id="rowClick">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody id="notes">
                    {% for note in notes %}
                        <tr
                            class="selectable"
                            onclick="rowClicked(this);"
                            content="{{ note.content }}"
                            id="{{ note.id }}"
                        >
                            <td style="width: 35%;">{{ note.title }} </td>
                            <td style="width: 30%;">{{ note.user.first_name }} {{ note.user.last_name }}</td>
                            <td>{{ note.date_created | format_datetime() }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col_7 groupbox">
         <div class="groupbox_header">
            Note Content
            <button class="small blue edit" onclick="editButtonClicked();">
                <i class="fa fa-pencil"></i> Edit
            </button>
        </div>
        <div class="note_holder">
            <textarea placeholder="Here will be the selected note's content" class="note" readonly></textarea>
        </div>

    </div>
    </div>
    <script>
        $(document).ready(function() {
            // get the table body
            var tableBody = $("#notes");

            if (tableBody.children().length > 0) {
                var firstRow = tableBody.children("tr:first");

                // select this row and put contents into the textarea
                rowClicked(firstRow.get(0));
            }
        });

        function rowClicked(row) {
            var rows = document.getElementsByClassName("selectable");

            for (var i = 0; i < rows.length; ++i) {
                var currentRow = rows[i];
                if (row == currentRow) {
                    currentRow.className = "selectable selected";
                }
                else {
                     currentRow.className = "selectable";
                }
            }

            // Put contents of the note
            var text = $(row).attr("content");
            $("textarea").val(text);
        }

        function editButtonClicked() {
            var selectedRow = $(".selected");

            if (selectedRow) {
                var selectedRowIndex = selectedRow.index();
                btw.show_note_dialog(selectedRowIndex);
            }
        }

        function updateNote(noteIndex, title, content) {
            var tableBody = $("#notes");
            var currentRow = tableBody.children().eq(parseInt(noteIndex));

            // Change the content
            currentRow.attr("content", content);

            // Change the title
            currentRow.children("td:first").text(title);

            // Refresh the text area
            rowClicked(currentRow.get(0));
        }
    </script>
</body>
</html>
