
body { 
    font-family: sans-serif;
    background: url("gray_jean.png") fixed;
    font-size: 13px;
}


.column {
    padding: 3px;
}


.content {
    display: flex;
    display: -webkit-flex;
    padding: 0;
}


.info_malt_water {
    flex: 2;
    padding: 0;
    margin-left: 0;
}


.water_malt_blocks {
    display: flex;
    display: -webkit-flex;
    padding: 0;
    margin-bottom: 0;
    margin-right: 0;
}


.malt_block {
    margin-top: 0;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0.5em;
    flex: 1;
    -webkit-flex: 1;
}


.water_block {
    margin: 0 0 0 0.5em;
    flex: 1;
    -webkit-flex: 1;
}


.brew_process_group {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
}


.mash_lauter_kettle_block {
    display: flex;
    display: -webkit-flex;
    padding: 0;
    margin-right: 0;
}


.mash_block {
    flex: 1;
    margin-top: 0;
    margin-left: 0;
}


.lauter_block {
    flex: 1;
    margin-top: 0;
}


.kettle_block {
    flex: 1;
    margin-right: 0;
    margin-top: 0;
}


.whirpool_wort_cellar_block {
    display: flex;
    display: -webkit-flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}


.whirpool_block {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}


.wort_block {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
}


.cellar_block {
    flex: 1;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}


.bbl_block {
    min-width: 300px;
    max-width: 400px;
    margin-bottom: 0;
    /*margin-left: 0;*/
    /*margin-right: 0;*/
}


.groupbox {
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
    /*padding: 10px 10px 5px;*/
    padding-left: 0;
    padding-right: 0;
}


.groupbox_header {
    padding-left: 5px;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 13px;
    font-size: 11px;
    font-weight: 600;
    color: #636972;
}


.groupbox_subheader {
    padding: 0 15px 15px;
    font-size: 11px;
    font-weight: 600;
    color: #5293f1;
    border: none !important;
    vertical-align: bottom;
}

.bbl_subheader {
    padding-right: 5px;
}


.groupbox_label {
    padding: 5px 2px 5px 0;
    font-size: 11px;
    text-align: right;
    font-weight: bolder;
    vertical-align: middle;
}


.groupbox_value {
    color: #1D6DC1;
    word-break: break-all;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}


button.edit {
    float: right;
    display: inline-block;
    margin-right: 5px;
}

button.edit_bbl {
    float: right;
    display: inline-block;
    margin-right: 0;
}


table.table_values {
    border-spacing: 0 4px;
    margin: 0;
    padding: 0;
}

.no_values {
    table-layout: fixed;
}

.table_outer {
    height: 19.6em;
    overflow: auto;
    margin-bottom: 4px;
}


.notes_list {
    height: 29em !important;
}


.hops_list {
    height: 29em !important;
}


tr.selectable:hover {
    background-color: #c1c4c7 !important;
}


tr.selected {
    background-color: #68d0f9 !important;
}


.note_holder {
    display: flex;
    display: -webkit-flex;
    padding: 10px;
}


.note {
    width: 100%;
    resize: none;
    flex: 1;
    height: 360px;
}


table tr.active {
    background: #ccc;
}


.white_cube {
    background-color: white;
    border: none !important;
    width: 20px;
}